.nav{
    /* background-color: #8879ec; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #fff; */
    
}
.logo{
    /* flex: 115; */
    font-weight: 700;
    color: #d10635;
}
.logo:hover{
    font-size: 1.2rem;
    transition: .5s ease-out;
    cursor: pointer;
    color: #0a5847;
}
.navwrap{
    display: flex;
    align-items: center;
    /* background-color: #b81313; */
    /* justify-content: right; */
    /* float: right; */
    flex: 1;
}
span{
    font-weight:700;
    font-size: 1.1rem;
    color: #e11041;
    align-items: center;
    margin:0 1rem;
    justify-content: center;
    border: 2.3px solid #c50532;
    padding: 7px;
    border-radius: .9rem;
}
span:hover{
    background-color: #fff;
}
span:active{
    background-color: #d88e8e;
}
svg{
    padding:0 .51rem;
    color: #c50532;
}
a:active{
    color: #fcf8f8;
}
a {
    margin-left: 4rem;
    font-weight: 500;
    color: #c50532;
    font-weight: 700;
    /* color: #198069; */
    text-decoration: inherit;
    align-items: center;
    justify-items: space-between;
  }