
*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
background-color: #ecc9f3;
}


.card{
  border: 1px solid rgb(193, 37, 221);
  background-color: #f3d6f8;
  /* width: 14rem;
  height: 16rem; */
  margin: 10px;
  padding: 20px;
  /* display: flex; */
}
.cardwrap{
  /* display: flex;
  padding: 1rem; */
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
img{
  /* font-size: 3rem; */
  height: 6rem;
  width: 6rem;
  /* justify-content: center;
  align-content: center;
  align-items: center; */
}


a:hover {
  color: #ee204c;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 1.2em;
  line-height: 1.1;
  /* color: #ee204c; */

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #9e0625;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
